<div data-name="play-question" data-qid="{{ id }}">
    <div>
        <p>{{{title}}}</p>
    </div>
    <div data-choice-type="{{ type }}"> {{#each choice}}
        <div class="radio" data-choice-item data-value="{{ id }}">
            <label>
                <input type="radio" class="clickable" name="question{{ ../id }}" value="{{ id }}"> {{ ./title }} </label>
        </div> {{/each }} </div>
</div>