<div data-name="play-question">
    <div>
        <p>{{{title}}}</p>
    </div>
    <div data-choice-type="{{ type }}">
    	{{#each choices}}
        <div class="radio" data-choice-item data-value="{{ id }}">
            <label class="isclickable">
                <input type="radio" class="isclickable" value="{{ id }}"> {{ ./title }}
            </label>
        </div>
        {{/each }}
    </div>
</div>
