<div data-role="choice-item" class="ui-state-default">
    <div class="form-group form-inline">
    	<input type="hidden" data-name="uniqueid" value="{{ id }}" />
        <input type="hidden" data-name="choicetext" />

        <input title="Mark this as answer" class="checkbox-custom" id="question{{ id }}" name="question{{ id }}" type="checkbox">
        <label id="text" class="checkbox-custom-label" for="question{{ id }}"> </label>

		<span class="input input--hoshi active">
            <div data-role="editor" data-name='choice' contenteditable="true" class="input__field input__field--hoshi jqx-widget jqx-editor-inline" data-placeholder="Type your choice here"></div>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1"> </label>
        </span>

        {{#if enable_scoring}}
        <label>Score</label>
        <input type="number" data-name="score" placeholder="Enter the score" value="{{ score }}" class="form-control" /> 
        {{/if }}

        <a data-role="delete-choice"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
</div>