<div data-role="toggle" data-name="question-shell" data-qid="{{ id }}">
    <div data-view="">
        <div data-container="question" data-role="multiline-question" data-value="{{ id }}">
            <div>
                <p>{{{ title }}}</p>
            </div>
            <div>
                <div class="form-group">
                    <textarea class="form-control" data-max-len="{{ choice.maximumlength }}" data-role="{{ choice.fieldformat }}"></textarea>
                </div>
            </div>
            
            <div class="as-attributes pull-right"> 
                <i data-action="edit" class="fa fa-edit" title="Edit Question"></i> 
                <i data-action="insert" class="fa fa-plus-circle" title="Insert Question"></i> 
                <i data-action="moveup" class="fa fa-arrow-circle-up" title="Move Up"></i> 
                <i data-action="movedown" class="fa fa-arrow-circle-down" title="Move Down"></i> 
                <i data-action="delete" class="fa fa-trash-o" title="Delete Question"></i> 
            </div>

            
        </div>
    </div>
    <div data-view="">
        <h2>Edit Question</h2>
        <div data-container="edit"> </div>
    </div>
</div>