<div data-role="toggle" data-name="question-shell" data-qid="{{ id }}">
    <div data-view="">
        <div data-container="question" data-role="singleline-question" data-value="{{ id }}">
            <div>
                <p>{{{ title }}}</p>
            </div>
            <div>
                <div class="form-group">
                    <input type="text" class="form-control" data-max-len="{{ choice.maximumlength }}" data-role="{{ choice.fieldformat }}" /> </div>
            </div>
            <div>
                <ul>
                    <li> <a data-action="edit">Edit</a> </li>
                    <li> <a data-action="delete">Delete</a> </li>
                    <li> <a data-action="insert">Insert</a> </li>
                    <li> <a data-action="moveup">Move Up</a> </li>
                    <li> <a data-action="movedown">Move Down</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div data-view="">
        <h2>Edit Question</h2>
        <div data-container="edit"> </div>
    </div>
</div>